target
dist
.vscode
.bsp
temp

webapp/scala-metadata.js

.DS_Store
.idea

**/node_modules

.bloop
.metals
project/metals.sbt
project/project

project/target
project/project/target
project/.bloop


log
logs

*/target

*.svg
*.map

.scannerwork
piece-images
/null
/compiled
**/gen