#root {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/** Reducing the size of ui5 inputs of type number to only 100px */
ui5-input[type="Number"] {
  width: 100px;
  min-width: 100px;
}

.navbar-brand {
  font-weight: 700;
  font-size: 21px;
  padding-top: 13px;
  padding: 15px 15px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.navbar-brand:hover {
  color: #845bcb;
}

.navbar-brand.active {
  color: #845bcb;
}