<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8" />
        <link rel="icon" href="/images/aztec-diamond.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <!-- Loads the Quicksand font -->
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet" />
        <title>Aztec Diamonds</title>
</head>

<body>
        <%- viteMetadata %>
                <div id="root"></div>
                <%- script %>


</body>
<script type="text/js-worker" id="scriptWorker">
        self.onmessage = function(e) {
                const url = e.data
                

                console.log(pathToAdd)
                importScripts(url + pathToAdd + "js/gen/main.js")
        }
</script>

</html>